body{
  display: flex;
  justify-content: center;
  font-family: century-gothic;
}
.container1{
  margin-top: 80px;
  display:inline-block
}
.profile{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 50px;

}
.profile_table{
  width:320px;
  padding: 5px;
  text-align:start;
  font-size: 15px;
  margin-bottom: 50px;
}

.skills{
  font-family: century-gothic;
  font-size: 20px;
  color: rgb(74, 168, 205);
  border-bottom: 2px solid rgb(74, 168, 205);

}

.skill_table{
  font-size: 15px;
  margin-bottom: 50px;
}

.progress{
  height: 10px;
  width: 100%;
  background-color: rosybrown;
  border-radius: 30px;
  
}
.contact{
 display: block;
 
}

.container2{
  margin-top: 40px;
  margin-left: 150px;
  display:inline-block;
  
}

.profile_name{
  font-size: 90px;
  font-family: century-gothic, sans-serif;
  font-style: bold;
}

.position{
  font-family: century-gothic, sans-serif;
  font-size: 20px;
}

.education{
  font-size: 20px;
  margin-top: 50px;
  font-family: century-gothic;
  color: rgb(74, 168, 205);
  border-bottom: 2px solid rgb(74, 168, 205);
}

.edutitle{
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.oltablehd{
  font-weight: 700;
  text-decoration: underline;
}

.educat{
  margin-bottom: 30px;
  margin-top: 30px;
}

.ol_table{
  width: 350px;
  margin-left: 100px;
}

.projects a{
  text-decoration: none;

}

.projects a:hover{
  color: #ce6917;
}