* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:wheat;
  font-family: monospace;
}

.header{
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.nav{
  display: flex;
  gap: 2em;
  list-style: none;
  position: sticky;
} 

.nav li{
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  align-items: center;
  font-weight: 0.5em;
  transition: transform 0.5s;
  cursor: pointer;
}

.nav li:hover{
  transform: scale(1.2);
  background-color: yellow;
  color: black;
}

.home{
  display: flex;
  margin-top: 5em;
  margin-left: 3em;
  margin-right: 1em;
  
}

.userName{
  font-size: 7.5em;
  margin-top: 0.2em;
}

.shortName{
  font-size: 0.2em;
}

.userTitle{
  font-size: 0.5em;
  margin-top: 0.5em;
}

.userLocation{
  font-size: 0.2em;
  margin-top: 0.2em;
  display: flex;
}

.slkFlag{
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  margin-left: 0.5em;
}

.profileImage{
  display: flex;
  width: 20em;
  height: 30em;
  margin-left:auto;
}

.line1{
  border: 0;
  height: 0.1em;
  background-color: rgb(255, 255, 0);
  
}

.dev{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 2em;
}

.devImage{
  width: 1.5em;
  height: 1.5em;
  background: black;
  margin-left: 1.5em;
}

